@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login| Art Gallery Management System</title>

    <!-- Bootstrap CSS -->
    <link href="~/style/admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/style/admin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/style/admin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/style/admin/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/style/admin/css/style.css" rel="stylesheet">
    <link href="~/style/admin/css/style-responsive.css" rel="stylesheet" />

</head>

<body class="login-img3-body">

    <div class="container">

        <form class="login-form" action="" method="post">

            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" name="adminName" placeholder="Username" autofocus >
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" name="adminPassword" placeholder="Password">
                </div>


                <lable>
                    <span class="pull-right"> <a href="forgot-password.html"> Forgot Password?</a></span>
                    </lable>
                    <button class="btn btn-primary btn-lg btn-block" type="submit" name="login">Login</button>
                    <p style="margin-top:3%; font-weight:bold"><a href="../index.html">Back to Home page</a></p>
                    <p class="text-danger" style="margin-top:3%; font-weight:bold; color:red; ">@ViewBag.message</p>
            </div>
        </form>


    </div>


</body>

</html>
